html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "../fonts/Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.photo-container .photo-title-body, .blog-section .blog-container, .restaurant-section .restaurant-container, .testimonals-bg .testimonals-container, .about-us-carousel .about-us-card-wrapper, .about-us-slider-title-body, .about-us .about-us-container, .check-section .check-container, header .main-bg .main-title-box .main-title-container, header .header-container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.about-us-card, .about-us-carousel .about-us-card-wrapper, .about-us .about-us-container, .header-container .navigation .navbar-ul, header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-slider .photo-slider-control-prev, .photo-slider .photo-slider-control-next, .restaurant-card a, .testimonals-slider .testimonal-slider-control-prev, .testimonals-slider .testimonal-slider-control-next, .about-us-carousel .about-us-prev-arrow, .about-us-carousel .about-us-next-arrow, .about-us-carousel .prev-btn, .about-us-carousel .next-btn, .about-us-card .about-us-card-img, .about-us-slider-bg, .about-us-wrapper a .about-us-button, .check-form button, header .main-bg .main-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-container .photo-title-body h4, .blog-card .blog-card-text-body h4, .blog-container .blog-title-body h4, .restaurant-container .restaurant-title-body h4, .testimonals-container .testimonals-title-body h4, .about-us-slider-title-body h4, .about-us-wrapper h4 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
  color: #5863F8;
  line-height: 20px;
}

.photo-container .photo-title-body h3, .blog-container .blog-title-body h3, .restaurant-container .restaurant-title-body h3, .testimonals-container .testimonals-title-body h3, .about-us-slider-title-body h3, .about-us-wrapper h3 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 42px;
  color: black;
  line-height: 57.5px;
}

header .header-container {
  margin-top: 20px;
}
@media (max-width: 992px) {
  header .header-container {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 30px;
  }
}

header .main-bg {
  background-image: url(../images/index-bg-banner.webp);
  background-size: cover;
  background-position: 30%;
  height: 83vh;
}

.header-container .navigation {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-container .navigation .navbar-ul {
  max-width: 562px;
  width: 100%;
}
@media (max-width: 992px) {
  .header-container .navigation .navbar-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header-container .navigation .navbar-ul .nav-li {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 12px;
  color: white;
}
@media (max-width: 992px) {
  .header-container .navigation .navbar-ul .nav-li {
    margin-top: 10px;
  }
}
.header-container .navigation .navbar-ul .nav-li:hover {
  color: #5863F8;
}

.header-container .burger-menu {
  border-color: white;
}
.header-container .burger-menu:hover {
  border-color: #5863F8;
}
.header-container .burger-menu .burger-icon {
  -webkit-filter: brightness(0) saturate(100%) invert(98%) sepia(59%) saturate(96%) hue-rotate(118deg) brightness(121%) contrast(100%) !important;
          filter: brightness(0) saturate(100%) invert(98%) sepia(59%) saturate(96%) hue-rotate(118deg) brightness(121%) contrast(100%) !important;
}
.header-container .burger-menu .burger-icon:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(32%) sepia(52%) saturate(4048%) hue-rotate(228deg) brightness(105%) contrast(94%) !important;
          filter: brightness(0) saturate(100%) invert(32%) sepia(52%) saturate(4048%) hue-rotate(228deg) brightness(105%) contrast(94%) !important;
}

.header-container .nav-logo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  color: white;
}
.header-container .nav-logo:hover {
  color: #5863F8;
}

header .main-bg {
  background-image: url(../images/index-bg-banner.webp);
  background-size: cover;
  background-position: 30%;
  height: 83vh;
}

header .main-bg .main-title-box {
  height: 72vh;
}
@media (max-width: 992px) {
  header .main-bg .main-title-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
}
@media (max-width: 1110px) {
  header .main-bg .main-title-box .main-title-container {
    padding-inline: 20px;
  }
}
header .main-bg .main-title-box .main-title-container .main-title-body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .main-bg .main-title-box .main-title-container .main-title-body h3 {
  max-width: 576px;
  width: 100%;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 62px;
  color: white;
  line-height: 72px;
}
@media (max-width: 480px) {
  header .main-bg .main-title-box .main-title-container .main-title-body h3 {
    font-size: 50px;
    line-height: 50px;
  }
}
header .main-bg .main-title-box .main-title-container .main-title-body h4 {
  max-width: 352px;
  width: 100%;
  margin-top: 20px;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 14px;
  color: white;
  line-height: 20px;
}

.check-section {
  margin-top: -74px;
}
@media (max-width: 1100px) {
  .check-section {
    padding-inline: 10px;
  }
}
.check-section .check-container {
  padding: 32px 100px 42px 92px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 520px) {
  .check-section .check-container {
    padding-inline: 10px;
  }
}

.check-form {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr)) 1fr;
  grid-gap: 21px;
}
@media (max-width: 1100px) {
  .check-form {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}
@media (max-width: 480px) {
  .check-form {
    grid-template-columns: 1fr;
  }
}
.check-form .input-box label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 13px;
  color: #5863F8;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.check-form .input-box input {
  width: 100%;
  padding: 15px;
  background-color: #EEEEEE;
  border: none;
  outline: none;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 13px;
  color: #B1B1B1;
}
.check-form .input-box input::-webkit-input-placeholder {
  color: #CECECE;
}
.check-form .input-box input::-moz-placeholder {
  color: #CECECE;
}
.check-form .input-box input:-ms-input-placeholder {
  color: #CECECE;
}
.check-form .input-box input::-ms-input-placeholder {
  color: #CECECE;
}
.check-form .input-box input::placeholder {
  color: #CECECE;
}
.check-form button {
  width: 51px;
  height: 51px;
  margin-top: 18px;
  background-color: #5863F8;
  border: none;
}

.about-us {
  margin-top: 90px;
}
@media (max-width: 1115px) {
  .about-us .about-us-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-inline: 10px;
  }
}

.about-us .about-us-container .about-us-wrapper {
  max-width: 444px;
  width: 100%;
  padding: 37px 0px;
}
@media (max-width: 1115px) {
  .about-us .about-us-container .about-us-wrapper {
    max-width: none;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-us-wrapper .about-us-text-body p:nth-child(1) {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: black;
  line-height: 26px;
  margin-top: 10px;
}
.about-us-wrapper .about-us-text-body p:nth-child(2) {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 14px;
  color: black;
  line-height: 21px;
  margin-top: 10px;
}
.about-us-wrapper a .about-us-button {
  margin-top: 20px;
  width: 184px;
  height: 50px;
  background-color: #5863F8;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 14px;
  color: white;
}
.about-us-wrapper a .about-us-button:hover {
  background-color: white;
  border: 2px solid #5863F8;
  color: #5863F8;
}
.about-us-wrapper a .about-us-button:hover img {
  -webkit-filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
          filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
}
.about-us-wrapper a .about-us-button img {
  width: 10px;
  height: 10px;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
  margin-left: 10px;
}

.about-us-img-wrapper {
  max-width: 536px;
  width: 100%;
  display: grid;
  --num-cols: 2;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-gap: 16px;
  grid-template-rows: 185px 260px;
}
.about-us-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us-img-wrapper img:nth-child(3) {
  grid-column-end: span 2;
}

.about-us-slider-bg {
  margin-top: 90px;
  background-image: url(../images/details-bg.webp);
  background-size: cover;
  background-position: center;
  height: 76vh;
}
.about-us-slider-bg .about-us-slider-container {
  width: 100%;
}
@media (max-width: 1183px) {
  .about-us-slider-bg .about-us-slider-container {
    width: 95%;
  }
}

@media (max-width: 1100px) {
  .about-us-slider-title-body {
    text-align: center;
  }
}
.about-us-slider-title-body h3 {
  color: white;
  width: 45.5%;
}
@media (max-width: 1100px) {
  .about-us-slider-title-body h3 {
    width: 100%;
  }
}

.about-us-carousel {
  margin-top: 34px;
  width: 100%;
}
@media (max-width: 850px) {
  .about-us-carousel .about-us-card-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.about-us-card {
  background-color: white;
  max-width: 260px;
  width: 100%;
  height: 260px;
  padding: 27px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1130px) {
  .about-us-card:nth-child(4) {
    display: none;
  }
}
@media (max-width: 850px) {
  .about-us-card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 680px) {
  .about-us-card:nth-child(2) {
    display: none;
  }
}
.about-us-card .about-us-card-img {
  width: 59px;
  height: 58px;
  border-radius: 50%;
  background-color: #5863F8;
}
.about-us-card h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: black;
  line-height: 26px;
  text-align: center;
}
.about-us-card p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: #B1B1B1;
  line-height: 21px;
}

.about-us-carousel .prev-btn, .about-us-carousel .next-btn {
  position: absolute;
  top: 35%;
  bottom: 0px;
  z-index: 1;
  width: 60px;
  height: 60px;
  border: none;
  opacity: inherit;
  background-color: inherit;
}
.about-us-carousel .prev-btn {
  left: 7%;
}
@media (max-width: 1450px) {
  .about-us-carousel .prev-btn {
    left: 2%;
  }
}
.about-us-carousel .next-btn {
  right: 7%;
}
@media (max-width: 1450px) {
  .about-us-carousel .next-btn {
    right: 2%;
  }
}
.about-us-carousel .about-us-prev-arrow, .about-us-carousel .about-us-next-arrow {
  width: 60px;
  height: 60px;
  background-color: white;
  opacity: 30%;
}
.about-us-carousel .about-us-prev-arrow:hover, .about-us-carousel .about-us-next-arrow:hover {
  opacity: 100%;
}
.about-us-carousel .about-us-prev-arrow:hover img, .about-us-carousel .about-us-next-arrow:hover img {
  -webkit-filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
          filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
}
.about-us-carousel .about-us-prev-arrow img, .about-us-carousel .about-us-next-arrow img {
  width: 10px;
  height: 10px;
}

.testimonals-bg {
  background-image: url(../images/hotel-stairs-reverse.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #F8F8F8;
  height: 487px;
  padding-top: 76px;
}
@media (max-width: 600px) {
  .testimonals-bg {
    background-size: cover;
    background-position: 40%;
  }
}
@media (max-width: 690px) {
  .testimonals-bg {
    padding-top: 20px;
  }
}
.testimonals-bg .testimonals-container {
  height: 100%;
}
@media (max-width: 1122px) {
  .testimonals-bg .testimonals-container {
    width: 95%;
  }
}

.testimonals-container .testimonals-title-body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50%;
}
@media (max-width: 1100px) {
  .testimonals-container .testimonals-title-body {
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .testimonals-container .testimonals-title-body h3 {
    text-shadow: 2px 2px white;
  }
}
@media (max-width: 690px) {
  .testimonals-container .testimonals-title-body h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

.testimonals-slider {
  height: calc(100% - 135px);
  padding-top: 19px;
}
@media (max-width: 690px) {
  .testimonals-slider {
    height: calc(100% - 90px);
  }
}
@media (max-width: 498px) {
  .testimonals-slider {
    height: calc(100% - 125px);
  }
}
@media (max-width: 350px) {
  .testimonals-slider {
    height: calc(100% - 160px);
  }
}

.testimonals-card-wrapper {
  padding-left: 10px;
  max-width: 376px;
  width: 100%;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonals-card-wrapper .testimonals-card {
  width: 100%;
  height: 160px;
  padding: 15px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.testimonals-card-wrapper .testimonals-card .testimonals-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.testimonals-card-wrapper .testimonals-card .testimonals-card-body img {
  margin-right: 19px;
}
.testimonals-card-wrapper .testimonals-card .testimonals-card-body h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: black;
  line-height: 25px;
}
.testimonals-card-wrapper .testimonals-card .testimonals-card-body h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  color: black;
  opacity: 50%;
  line-height: 17px;
}
.testimonals-card-wrapper .testimonals-card p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: black;
  line-height: 21px;
}

.testimonals-slider .testimonal-slider-control-prev, .testimonals-slider .testimonal-slider-control-next {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  opacity: 100%;
}
.testimonals-slider .testimonal-slider-control-prev:hover, .testimonals-slider .testimonal-slider-control-next:hover {
  background-color: #5863F8;
  opacity: 100%;
}
.testimonals-slider .testimonal-slider-control-prev img, .testimonals-slider .testimonal-slider-control-next img {
  width: 14px;
  height: 14px;
}
.testimonals-slider .testimonal-slider-control-next {
  right: 25%;
}
@media (max-width: 1100px) {
  .testimonals-slider .testimonal-slider-control-next {
    right: 30%;
  }
}
.testimonals-slider .testimonal-slider-control-prev {
  left: 64%;
}
@media (max-width: 1100px) {
  .testimonals-slider .testimonal-slider-control-prev {
    left: 30%;
  }
}

.testimonals-slider .carousel-indicators {
  max-width: 70px;
  width: 100%;
  bottom: 50px;
  margin: 0px;
}
@media (max-width: 690px) {
  .testimonals-slider .carousel-indicators {
    bottom: 30%;
  }
}
.testimonals-slider .carousel-indicators .indicator-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5863F8;
}
@media (max-width: 690px) {
  .testimonals-slider .carousel-indicators .indicator-btn {
    display: none;
  }
}

.restaurant-section {
  margin-top: 90px;
}
@media (max-width: 1115px) {
  .restaurant-section .restaurant-container {
    padding-inline: 20px;
  }
}

.restaurant-container .restaurant-title-body {
  width: 46%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 1100px) {
  .restaurant-container .restaurant-title-body {
    width: 100%;
    text-align: center;
  }
}
.restaurant-container .restaurant-card-wrapper {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 16px;
}
@media (max-width: 930px) {
  .restaurant-container .restaurant-card-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.restaurant-card {
  background-color: #F8F8F8;
  max-width: 536px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.3fr 2fr 0.7fr;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
@media (max-width: 470px) {
  .restaurant-card {
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 150px auto;
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }
}
.restaurant-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 470px) {
  .restaurant-card img {
    grid-column-end: span 3;
  }
}
.restaurant-card .restaurant-card-text {
  margin: 37px 0px 36px 0px;
}
@media (max-width: 470px) {
  .restaurant-card .restaurant-card-text {
    margin: 10px 0px 10px 10px;
  }
}
.restaurant-card .restaurant-card-text h4 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
  color: #5863F8;
  line-height: 20px;
}
.restaurant-card .restaurant-card-text h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: black;
  line-height: 25px;
}
.restaurant-card .restaurant-card-text p {
  margin-top: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: #B1B1B1;
  line-height: 20px;
}
.restaurant-card a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  width: 60px;
  height: 60px;
  background-color: #5863F8;
}
.restaurant-card a:hover {
  background-color: inherit;
  border: 2px solid #5863F8;
}
.restaurant-card a:hover img {
  -webkit-filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
          filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
}
.restaurant-card a img {
  width: 14px;
  height: 14px;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
}

.blog-section {
  margin-top: 90px;
}
@media (max-width: 1115px) {
  .blog-section .blog-container {
    padding-inline: 20px;
  }
}

.blog-container .blog-title-body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 46%;
}
@media (max-width: 1100px) {
  .blog-container .blog-title-body {
    width: 100%;
    text-align: center;
  }
}
.blog-container .blog-card-wrapper {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
@media (max-width: 1115px) {
  .blog-container .blog-card-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.blog-card {
  max-width: 352px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F8F8F8;
}
.blog-card .blog-card-text-body {
  margin: 23px 0px;
  text-align: center;
}
.blog-card .blog-card-text-body h3 {
  margin-top: 5px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  color: black;
  line-height: 25px;
}
.blog-card .blog-card-text-body p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: #B1B1B1;
  line-height: 26px;
  margin: 10px 46px 0px 46px;
}

.photo-section {
  margin-top: 90px;
}
.photo-section .photo-container {
  width: 100%;
}

@media (max-width: 1115px) {
  .photo-container .photo-title-body {
    padding-left: 20px;
  }
}
@media (max-width: 1100px) {
  .photo-container .photo-title-body {
    text-align: center;
  }
}
.photo-container .photo-title-body h3 {
  width: 52%;
}
@media (max-width: 1100px) {
  .photo-container .photo-title-body h3 {
    width: 100%;
  }
}
@media (max-width: 585px) {
  .photo-container .photo-title-body h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

.photo-slider {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.photo-slider .photo-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photo-slider .photo-wrapper .photo-bg {
  width: 25%;
  height: 352px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1115px) {
  .photo-slider .photo-wrapper .photo-bg {
    width: 33.3%;
  }
  .photo-slider .photo-wrapper .photo-bg:nth-child(4) {
    display: none;
  }
}
@media (max-width: 842px) {
  .photo-slider .photo-wrapper .photo-bg {
    width: 50%;
  }
  .photo-slider .photo-wrapper .photo-bg:nth-child(3) {
    display: none;
  }
}
@media (max-width: 450px) {
  .photo-slider .photo-wrapper .photo-bg {
    width: 100%;
  }
  .photo-slider .photo-wrapper .photo-bg:nth-child(2) {
    display: none;
  }
}
.photo-slider .photo-wrapper .beach {
  background-image: url(../images/beach.webp);
}
.photo-slider .photo-wrapper .towels {
  background-image: url(../images/towels.webp);
}
.photo-slider .photo-wrapper .stairs {
  background-image: url(../images/hotel-stairs.webp);
}
.photo-slider .photo-wrapper .cafe {
  background-image: url(../images/hotel-cafe.webp);
}

.photo-slider .photo-slider-control-prev, .photo-slider .photo-slider-control-next {
  position: absolute;
  top: 45%;
  bottom: 0px;
  z-index: 1;
  width: 60px;
  height: 60px;
  border: none;
  opacity: 30%;
  background-color: #5863F8;
}
.photo-slider .photo-slider-control-prev:hover, .photo-slider .photo-slider-control-next:hover {
  opacity: 100%;
}
.photo-slider .photo-slider-control-prev:hover img, .photo-slider .photo-slider-control-next:hover img {
  -webkit-filter: none;
          filter: none;
}
.photo-slider .photo-slider-control-prev img, .photo-slider .photo-slider-control-next img {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
  width: 14px;
  height: 14px;
}
.photo-slider .photo-slider-control-prev {
  left: 7%;
}
@media (max-width: 1450px) {
  .photo-slider .photo-slider-control-prev {
    left: 2%;
  }
}
.photo-slider .photo-slider-control-next {
  right: 7%;
}
@media (max-width: 1450px) {
  .photo-slider .photo-slider-control-next {
    right: 2%;
  }
}/*# sourceMappingURL=global.css.map */