html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "../fonts/Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.main-bg .main-page-container, header .header-container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.header-container .navigation .navbar-ul, header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .main-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  padding-top: 20px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}
@media (max-width: 992px) {
  header .header-container {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 30px;
  }
}

.header-container .navigation {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-container .navigation .navbar-ul {
  width: 562px;
}
@media (max-width: 992px) {
  .header-container .navigation .navbar-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header-container .navigation .navbar-ul .nav-li {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 12px;
  color: white;
}
@media (max-width: 992px) {
  .header-container .navigation .navbar-ul .nav-li {
    margin-top: 10px;
  }
}
.header-container .navigation .navbar-ul .nav-li:hover {
  color: #5863F8;
}

.header-container .burger-menu {
  border-color: white;
}
.header-container .burger-menu:hover {
  border-color: #5863F8;
}
.header-container .burger-menu .burger-icon {
  -webkit-filter: brightness(0) saturate(100%) invert(98%) sepia(59%) saturate(96%) hue-rotate(118deg) brightness(121%) contrast(100%) !important;
          filter: brightness(0) saturate(100%) invert(98%) sepia(59%) saturate(96%) hue-rotate(118deg) brightness(121%) contrast(100%) !important;
}
.header-container .burger-menu .burger-icon:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(32%) sepia(52%) saturate(4048%) hue-rotate(228deg) brightness(105%) contrast(94%) !important;
          filter: brightness(0) saturate(100%) invert(32%) sepia(52%) saturate(4048%) hue-rotate(228deg) brightness(105%) contrast(94%) !important;
}

.header-container .nav-logo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  color: white;
}
.header-container .nav-logo:hover {
  color: #5863F8;
}

.main-page {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -50px;
}
.main-page .main-bg {
  background-image: url(../images/index-bg-banner.webp);
  background-size: cover;
  background-position: 30%;
  height: 83vh;
  padding: 20px;
}
@media (max-width: 992px) {
  .main-page .main-bg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.main-bg .main-page-container .main-title-body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-bg .main-page-container .main-title-body h3 {
  max-width: 576px;
  width: 100%;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 62px;
  color: white;
  line-height: 72px;
}
@media (max-width: 480px) {
  .main-bg .main-page-container .main-title-body h3 {
    font-size: 50px;
    line-height: 50px;
  }
}
.main-bg .main-page-container .main-title-body h4 {
  max-width: 352px;
  width: 100%;
  margin-top: 20px;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 14px;
  color: white;
  line-height: 20px;
}/*# sourceMappingURL=global.css.map */