@mixin font($family,$weight,$size,$color){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin d-flex-easy($display,$justify,$align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}