%container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto
}
%d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%title{
    @include font('Poppins',bold,14px,$blue);
    line-height: 20px;
}
%subtitle{
    @include font('Poppins',800,42px,$black);
    line-height: 57.5px;
}