// header
header {
    .header-container {
        margin-top: 20px;
        @extend %container;
        @extend %d-flex;
        @media (max-width: 992px) {
        flex-wrap: inherit;
        @include d-flex-easy(flex, space-between, center);
        padding-inline: 30px;
        }
    }
}
.header-container {
  .navigation {
    justify-content: flex-end;
    .navbar-ul {
      max-width: 562px;
      width: 100%;
      @extend %d-flex;
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .nav-li {
        @include font("Poppins", 600, 12px, $white);
        @media (max-width: 992px) {
          margin-top: 10px;
        }
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
.header-container {
  .burger-menu {
    border-color: $white;
    &:hover {
      border-color: $blue;
    }
    .burger-icon {
      filter: brightness(0) saturate(100%) invert(98%) sepia(59%) saturate(96%)
        hue-rotate(118deg) brightness(121%) contrast(100%) !important;
      &:hover {
        filter: brightness(0) saturate(100%) invert(32%) sepia(52%)
          saturate(4048%) hue-rotate(228deg) brightness(105%) contrast(94%) !important;
      }
    }
  }
}
.header-container {
  .nav-logo {
    @include font("Poppins", 600, 14px, $white);
    &:hover {
      color: $blue;
    }
  }
}
header{
    .main-bg{
        background-image: url(../images/index-bg-banner.webp);
        background-size: cover;
        background-position: 30%;
        height: 83vh;
    }
    .other-bg{
        background-image: url(../images/banner-bg.webp);
        background-size: cover;
        background-position: 30%;
        height: 324px;
    }
    .bg-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,60%); 
    }
}
// title-box for header in index.html
header{
    .main-bg{
        .main-title-box{
            height: 72vh;
            @extend %d-flex-center;
            @media (max-width:992px) {
                align-items: flex-start;
                padding-top: 20px;
            }
            .main-title-container{
                @extend %container;
                @media (max-width:1110px) {
                    padding-inline: 20px;
                }
                .main-title-body {
                    user-select: none;
                    h3 {
                      max-width: 576px;
                      width: 100%;
                      @include font("Poppins", 800, 62px, $white);
                      line-height: 72px;
                      @media (max-width: 480px) {
                        font-size: 50px;
                        line-height: 50px;
                      }
                    }
                    h4 {
                      max-width: 352px;
                      width: 100%;
                      margin-top: 20px;
                      @include font("Poppins", normal, 14px, $white);
                      line-height: 20px;
                    }
                  }
            }
        }
    }
}
// title box for header in other htmls
header{
  .other-bg{
    .other-title-box{
      @extend %container;
      user-select: none;
      height: 274px;
      @include d-flex-easy (flex,center,flex-start);
      flex-direction: column;
      @media (max-width:992px) {
        padding-inline: 20px;
        height: auto;
        margin-top: 20px;
      }
      h3{
        @include font('Poppins',800,42px,$white);
        line-height: 59px;
      }
      .other-title-box-text{
        margin-top: 14px;
        @include font('Poppins',500,14px,$white);
        line-height: 20px;
        display: flex;
        h4{
          &::after{
            content: '';
            height: 19px;
            border: 1px solid $white;
            margin-left: 14px;
            margin-right: 16px;
            background-color: $white;
          }
        }
      }
    }
  }
}
      //  index.html
// check section
.check-section{
    margin-top: -74px;
    @media (max-width:1100px) {
      padding-inline: 10px;
    }
    .check-container{
        @extend %container;
        padding:32px 100px 42px 92px;
        background-color: $white;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 10%);
        @media (max-width:520px) {
          padding-inline:10px;
        }

    }
}
.check-form{
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr)) 1fr;
    grid-gap: 21px;
    @media (max-width:1100px) {
      grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    }
    @media (max-width:480px) {
      grid-template-columns: 1fr;
    }
    .input-box{
        label{
            @include font('Poppins',500,13px,$blue);
            margin-bottom: 5px;
            user-select: none;
        }
        input{
            width: 100%;
            padding: 15px;
            background-color: $lightgrey;
            border: none;
            outline: none;
            @include font('Poppins',normal,13px,$darkgrey);
             &::placeholder{
                color: $grey;
             }
        }
    }
    button{
        width: 51px;
        height: 51px;
        margin-top: 18px;
        background-color: $blue;
        border: none;
        @extend %d-flex-center;
    }
}

// about-us section

                  // about-us title and image box
.about-us{
  margin-top: 90px;
  .about-us-container{
    @extend %container;
    @extend %d-flex;
    @media (max-width:1115px) {
      flex-direction: column;
      padding-inline: 10px;
    }
  }
}
.about-us{
  .about-us-container{
    .about-us-wrapper{
      max-width: 444px;
      width: 100%;
      padding: 37px 0px;
      @media (max-width:1115px) {
        max-width: none;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
      } 
    }
  }
}
.about-us-wrapper{
    h4{
      @extend %title;
    }
    h3{
      @extend %subtitle;
    }
    .about-us-text-body{
      p{
        &:nth-child(1){
          @include font('Poppins',500,16px,$black);
          line-height: 26px;
          margin-top: 10px;
        }
        &:nth-child(2){
          @include font('Poppins',normal,14px,$black);
          line-height: 21px;
          margin-top: 10px;
        }
      }
    }
    a{
      .about-us-button{
        margin-top: 20px;
        width: 184px;
        height: 50px;
        background-color: $blue;
        @extend %d-flex-center;
        @include font('Poppins',normal,14px,$white);
        &:hover{
          background-color: $white;
          border: 2px solid $blue;
          color: $blue;
        }
        &:hover img{
          filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
        }
        img{
          width: 10px;
          height: 10px;
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
          margin-left: 10px;
        }
      } 
    }
}
.about-us-img-wrapper{
  max-width: 536px;
  width: 100%;
  display: grid;
  --num-cols: 2;
  grid-template-columns: repeat(var(--num-cols),1fr);
  grid-gap: 16px;
  grid-template-rows: 185px 260px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:nth-child(3){
      grid-column-end: span 2;
    }
  }
}
.restaurant-img-wrapper{
  @media (max-width:530px) {
    grid-template-rows: 160px 160px;
  }
  img{
    &:nth-child(1){
      grid-row-end: span 2;
    }
    &:nth-child(3){
      grid-column-end: inherit;
    }
  }
}

                // about-us details-slider
.about-us-slider-bg{
  margin-top: 90px;
  background-image: url(../images/details-bg.webp);
  background-size: cover;
  background-position: center;
  height: 76vh;
  @extend %d-flex-center;
  .about-us-slider-container{
    width: 100%;
    @media (max-width:1183px) {
      width: 95%;
    }
  }
}
.about-us-slider-title-body{
  @extend %container;
  @media (max-width:1100px) {
    text-align: center;
  }
  h4{
    @extend %title;
  }
  h3{
    @extend %subtitle;
    color: $white;
    width: 45.5%;
    @media (max-width:1100px) {
      width: 100%;
    }
  }
}
.about-us-carousel{
  margin-top: 34px;
  width: 100%;
  .about-us-card-wrapper{
    @extend %container;
    @extend %d-flex;
    @media (max-width:850px) {
      justify-content: space-evenly;
    }
  }

}
.about-us-card{
  background-color: $white;
  max-width: 260px;
  width: 100%;
  height: 260px;
  padding: 27px 20px;
  @extend %d-flex;
  flex-direction: column;
  @media (max-width:1130px) {
    &:nth-child(4){
      display: none;
    }  
  }
  @media (max-width:850px) {
    &:nth-child(3){
      display: none;
    }
  }
  @media (max-width:680px) {
    &:nth-child(2){
      display: none;
    }
  }
  .about-us-card-img{
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: $blue;
    @extend %d-flex-center;
  }
  h3{
    @include font('Poppins',600,18px,$black);
    line-height: 26px;
    text-align: center;
  }
  p{
    @include font('Poppins',500,14px,$darkgrey);
    line-height: 21px;
  }
}
.about-us-carousel{
  .prev-btn,.next-btn{
    position: absolute;
    top: 35%;
    bottom: 0px;
    z-index: 1;
    @extend %d-flex-center;
    width: 60px;
    height: 60px;
    border: none;
    opacity: inherit;
    background-color: inherit;
  }
  .prev-btn{
    left: 7%;
    @media (max-width:1450px) {
      left: 2%;
    }
  }
  .next-btn{
    right: 7%;
    @media (max-width:1450px) {
      right: 2%;
    }
  }
  .about-us-prev-arrow,.about-us-next-arrow{
    width: 60px;
    height: 60px;
    background-color: $white;
    opacity: 30%;
    @extend %d-flex-center;
    &:hover{
      opacity: 100%;
    }
    &:hover img{
      filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
    }
    img{
      width: 10px;
      height: 10px;
    }
  }
}

              // about-us testimonals
.testimonals-bg{
  background-image: url(../images/hotel-stairs-reverse.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: $darkwhite;
  height: 487px;
  padding-top: 76px;
  @media (max-width:600px) {
    background-size: cover;
    background-position: 40%;
  }
  @media (max-width:690px) {
    padding-top: 20px;
  }
  .testimonals-container{
    @extend %container;
    height: 100%;
    @media (max-width:1122px) {
      width: 95%;
    }
  }
}
.about-us-html{
  background-image: url(../images/small-room-big.webp);
}
.testimonals-container{
  .testimonals-title-body{
    user-select: none;
    width: 50%;
    @media (max-width:1100px) {
      width: 80%;
      text-align: center;
    }
    h4{
      @extend %title;
    }
    h3{
      @extend %subtitle;
      @media (max-width:1100px) {
        text-shadow:2px 2px $white;
      }
      @media (max-width:690px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }
}
.testimonals-slider{
  height: calc(100% - 135px);
  padding-top: 19px;
  @media (max-width:690px) {
    height: calc(100% - 90px);
  }
  @media (max-width:498px) {
    height: calc(100% - 125px);
  }
  @media (max-width:350px) {
    height: calc(100% - 160px);
  }
}
.testimonals-card-wrapper{
  padding-left: 10px;
  max-width: 376px;
  width: 100%;
  background-color: $darkwhite;
  display: flex;
  .testimonals-card{
    width: 100%;
    height: 160px;
    padding: 15px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    .testimonals-card-body{
      display: flex;
      width: 100%;
      img{
        margin-right: 19px;
      }
      h3{
        @include font('Poppins',600,18px,$black);
        line-height: 25px;
      }
      h4{
        @include font('Poppins',600,12px,$black);
        opacity: 50%;
        line-height: 17px;
      }
    }  
    p{
      @include font('Poppins',500,14px,$black);
      line-height: 21px;
    }
  }
}
.testimonals-slider{
  .testimonal-slider-control-prev,.testimonal-slider-control-next{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: $white;
    border: none;
    opacity: 100%;
    @extend %d-flex-center;
    &:hover{
      background-color: $blue;
      opacity: 100%;
    }
    img{
      width: 14px;
      height: 14px;
    }
  }
  .testimonal-slider-control-next{
    right: 25%;
    @media (max-width:1100px) {
      right: 30%;
    }
  }
  .testimonal-slider-control-prev{
    left: 64%;
    @media (max-width:1100px) {
      left: 30%;
    }
  }
}
.testimonals-slider{
  .carousel-indicators{
    max-width: 70px;
    width: 100%;
    bottom: 50px;
    margin: 0px;
    @media (max-width:690px) {
      bottom: 30%;
    }
    .indicator-btn{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blue;
      @media (max-width:690px) {
        display: none;
      }
    }  
  }
}

// restaurant section
.restaurant-section{
  margin-top: 90px;
  .restaurant-container{
    @extend %container;
    @media (max-width:1115px) {
      padding-inline: 20px;
    }
  }
}
.restaurant-container{
  .restaurant-title-body{
    width: 46%;
    user-select: none;
    @media (max-width:1100px) {
      width: 100%;
      text-align: center;
    }
    h4{
      @extend %title;
    }
    h3{
      @extend %subtitle;
    }
  }
}
.restaurant-container{
  .restaurant-card-wrapper{
    margin-top: 50px;
    width: 100%; 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 16px;
    @media (max-width:930px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
.restaurant-card{
  background-color: $darkwhite;
  max-width: 536px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.3fr 2fr 0.7fr;  
  column-gap: 16px;
  @media (max-width:470px) {
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 150px auto;
    column-gap: 0px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width:470px) {
      grid-column-end: span 3;
    }
  }
  .restaurant-card-text{
    margin: 37px 0px 36px 0px;
    @media (max-width:470px){
      margin: 10px 0px 10px 10px;
    }
    h4{
      @include font ('Poppins',bold,14px,$blue);
      line-height: 20px;
    }
    h3{
      @include font ('Poppins',600,18px,$black);
      line-height: 25px;
    }
    p{
      margin-top: 10px;
      @include font ('Poppins',500,14px,$darkgrey);
      line-height: 20px;
    }
  }
  a{
    align-self: flex-end;
    justify-self: flex-end;
    width: 60px;
    height: 60px;
    background-color: $blue;
    @extend %d-flex-center;
    &:hover{
      background-color: inherit;
      border: 2px solid $blue;
    }
    &:hover img{
      filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
    }
    img{
      width: 14px;
      height: 14px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
    }
  }
}
// blog-section
.blog-section{
  margin-top: 90px;
  .blog-container{
    @extend %container;
    @media (max-width:1115px) {
      padding-inline: 20px;
    }
  }
}
.blog-container{
  .blog-title-body{
    user-select: none;
    width: 46%;
    @media (max-width:1100px) {
      width: 100%;
      text-align: center;
    }
    h4{
      @extend %title;
    }
    h3{
      @extend %subtitle;
    }
  }
}
.blog-container{
  .blog-card-wrapper{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    @media (max-width:1115px) {
      justify-content: space-evenly;
    }
  }
}
.blog-card{
  max-width: 352px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $darkwhite;
  .blog-card-text-body{
    margin: 23px 0px;
    text-align: center;
    h4{
      @extend %title;
    }
    h3{
      margin-top: 5px;
      @include font('Poppins',600,16px,$black);
      line-height: 25px;
    }
    p{
      @include font('Poppins',500,14px,$darkgrey);
      line-height: 26px;
      margin: 10px 46px 0px 46px;
    }
  }
}
// photo-section
.photo-section{
  margin-top: 90px;
  .photo-container{
    width: 100%;
  }
}
.photo-container{
  .photo-title-body{
    @extend %container;
    @media (max-width:1115px) {
      padding-left: 20px;
    }
    @media (max-width:1100px) {
      text-align: center;
    }
    h4{
      @extend %title;
    }
    h3{
      @extend %subtitle;
      width: 52%;
      @media (max-width:1100px) {
        width: 100%;
      }
      @media (max-width:585px) {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }
}
.photo-slider{
  width: 100%;
  margin-top: 50px;
  .photo-wrapper{
    width: 100%;
    display: flex;
    .photo-bg{
      width: 25%;
      height: 352px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media (max-width:1115px) {
        width: 33.3%;
        &:nth-child(4){
          display: none;
        }
      }
      @media (max-width:842px) {
        width: 50%;
        &:nth-child(3){
          display: none;
        }
      }
      @media (max-width:450px) {
        width: 100%;
        &:nth-child(2){
          display: none;
        }
      }
    }
    .beach{
      background-image: url(../images/beach.webp);
    }
    .towels{
      background-image: url(../images/towels.webp);
    }
    .stairs{
      background-image: url(../images/hotel-stairs.webp);
    }
    .cafe{
      background-image: url(../images/hotel-cafe.webp);
    }
  }
}  
.photo-slider{
  .photo-slider-control-prev,.photo-slider-control-next{
    position: absolute;
    top: 45%;
    bottom: 0px;
    z-index: 1;
    @extend %d-flex-center;
    width: 60px;
    height: 60px;
    border: none;
    opacity: 30%;
    background-color: $blue;
    &:hover{
      opacity: 100%;
    }
    &:hover img{
      filter: none;
    }
    img{
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(353deg) brightness(99%) contrast(103%);
      width: 14px;
      height: 14px;
    }
  }
  .photo-slider-control-prev{
    left: 7%;
    @media (max-width:1450px) {
      left: 2%;
    }
  }
  .photo-slider-control-next{
    right: 7%;
    @media (max-width:1450px) {
      right: 2%;
    }
  }
}

// footer
.footer{
  width: 100%;
  background-color: $black;
  padding-top: 90px;
  padding-bottom: 40px;
  @media (max-width:1115px) {
    padding: 50px 20px 40px 20px;
  }
  .footer-container{
    @extend %container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width:540px) {
      justify-content: center;
    }
  }
}
.footer-container{
  .footer-title-wrapper{
    max-width: 260px;
    width: 100%;
    h3{
      @include font('Poppins',bold,24px,$white);
      line-height: 33px;
    }
    p{
      margin-top: 20px;
      @include font('Poppins',500,14px,$darkgrey);
      line-height: 21px;
    }
    .footer-icons{
      margin-top: 20px;
      a{
        &:not(a:nth-child(1)){
          margin-left: 10px;
        }
      }
    }
  }
}
.footer-list-wrapper{
  max-width: 566px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 20px;
  @media (max-width:540px) {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  @media (max-width:380px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .footer-list{
    h3{
      @include font('Poppins',600,18px,$white);
      line-height: 25px;
    }
    ul{
      margin-top: 20px;
      li{
        @include font('Poppins',500,14px,$blue);
        line-height: 20px;
        &:hover{
          color: $white;
        }
        &:not(li:nth-child(1)){
          margin-top: 10px;
        }
        a{
          color: inherit;
        }
      }
    }
  }
  .footer-contact{
    @media (max-width:540px) {
      grid-column-end: span 2;
      justify-self: center;
    }
    @media (max-width:380px) {
      grid-column-end: inherit;
    }
    h3{
      @include font('Poppins',600,18px,$white);
      line-height: 25px;
    }
    .contact-box{
      display: flex;
      flex-direction: column;
      a{
        margin-top: 20px;
        @include font('Poppins',500,14px,$white);
        line-height: 20px;
        display: flex;
        align-items: center;
        &:hover{
          color: $blue;
        }
        &:hover img{
          filter: none;
        }
        img{
          filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
          margin-right: 14px;
        }
      }
    }  
  }
}
.footer-copy-container{
  @extend %container;
  margin-top: 54px;
  @extend %d-flex;
  flex-wrap: wrap;
  p{
    @include font('Poppins',500,14px,$darkgrey);
    line-height: 20px;
    span{
      color: $blue;
      cursor: pointer;
    }
  }
  a{
    @include font('Poppins',500,14px,$blue);
    line-height: 20px;
    &:hover{
      color: $white;
    }
  }
}

// rooms.html
        // rooms list
.rooms-list{
  margin-top: 90px;
  .rooms-container{
    @extend %container;
    @media (max-width:1110px) {
      padding-inline: 20px;
    }
  }
}
.rooms-container{
  .rooms-title-body{
    width: 40%;
    user-select: none;
    @media (max-width:1100px) {
      width: 100%;
      text-align: center;
    }
    h4{
      @extend %title;
    }
    h3{
      @extend %subtitle;
    }
  }
}
.rooms-container{
  .rooms-card-wrapper{
    margin-top: 50px;
    width: 100%; 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 16px;
    @media (max-width:930px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
.rooms-card{
  background-color: $darkwhite;
  max-width: 536px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.3fr 2fr 0.7fr;  
  column-gap: 16px;
  @media (max-width:470px) {
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 150px auto;
    column-gap: 0px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    @media (max-width:470px) {
      grid-column-end: span 3;
    }
  }
  .rooms-card-title-body{
    margin: 37px 0px 36px 0px;
    @media (max-width:470px){
      margin: 10px 0px 10px 10px;
    }
    h3{
      @extend %title;
    }
    h4{
      @include font ('Poppins',600,18px,$black);
      line-height: 25px;
    }
    p{
      margin-top: 10px;
      @include font ('Poppins',500,14px,$darkgrey);
      line-height: 20px;
    }
  }
  a{
    justify-self: flex-end;
    width: 60px;
    height: 100%;
    background-color: $blue;
    @extend %d-flex-center;
    &:hover{
      background-color: inherit;
      border: 2px solid $blue;
    }
    &:hover img{
      filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
    }
    img{
      width: 14px;
      height: 14px;
    }
  }
}
      // rooms-check
.rooms-check{
  width: 100%;
  background-color: $darkwhite;
  margin-top: 90px;
  padding: 53px 0px;
  @media (max-width:1115px) {
    padding-inline: 10px;
  }
  .rooms-check-container{
    @extend %container;
  }
}
.rooms-check-form{
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, 1fr));
  grid-gap: 16px;
  @media (max-width:1115px) {
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  }
  @media (max-width:480px) {
    grid-template-columns: 1fr;
  }
  .rooms-input-box{
      label{
          @include font('Poppins',500,13px,$blue);
          margin-bottom: 5px;
          user-select: none;
      }
      input{
          width: 100%;
          padding: 15px;
          background-color: $white;
          border: 2px solid #EBEBEB;
          outline: none;
          @include font('Poppins',normal,13px,$darkgrey);
           &::placeholder{
              color: $grey;
           }
      }
  }
  button{
      width: 100%;
      height: 60px;
      margin-top: 18px;
      background-color: $blue;
      border: none;
      @include font('Poppins',600,13px,$white);
      @extend %d-flex-center;
      &:hover{
        background-color: inherit;
        border: 2px solid $blue;
        color: $blue;
      }
      &:hover img{
        filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
      }
      img{
        margin-left: 10px;
      }
  }
}

// contact.html
.map-section{
  margin-top: 50px;
  @media (max-width:1100px) {
    padding-inline: 10px;
  }
  .map-container{
    @extend %container;
    height: 286px;
    position: relative;
  }
}
.map-container{
  .map{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .map-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 30%);
    position: absolute;
    pointer-events: none;
  }
}

.contact-form-section{
  margin-top: 50px;
  @media (max-width:1100px) {
    padding-inline: 20px;
  }
  .contact-form-container{
    @extend %container;
  }
}
.contact-form-container{
  .contact-title-body{
    user-select: none;
    width: 46%;
    @media (max-width:1100px) {
      width: 100%;
      text-align: center;
    }
    h4{
      @extend %title;
    }
    h3{
      @extend %subtitle;
    }
  }
}
.contact-form-wrapper{
  margin-top: 50px;
  .contact-form{
    height: 288px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    @media (max-width:570px) {
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr;
      height: auto;
    }
  }
}
.contact-form{
  .textarea{
    @media (min-width:570px) {
      grid-column-end: span 2;
      grid-row-end: span 4;
    }
    padding: 20px 20px;
    resize: none;
    outline: none;
    background-color: $darkwhite;
    border: 2px solid $bordercolor;
    @include font('Poppins',normal,13px,$darkgrey);
    &::placeholder{
      @include font('Poppins',normal,13px,$darkgrey);
    }
  }
  input{
    height: 60px;
    padding: 20px 20px;
    outline: none;
    background-color: $darkwhite;
    border: 2px solid $bordercolor;
    @include font('Poppins',normal,13px,$darkgrey);
    &::placeholder{
      @include font('Poppins',normal,13px,$darkgrey);
    }
  }
  button{
    height: 60px;
    background-color: $blue;
    border: none;
    @extend %d-flex-center;
    @include font('Poppins',normal,14px,$white);
    line-height: 20px;
    &:hover{
      border: 2px solid $blue;
      color: $blue;
      font-weight: 600;
      background-color: rgba(88, 99, 248, 30%);
    }
    &:hover img{
      filter: brightness(0) saturate(100%) invert(34%) sepia(40%) saturate(3604%) hue-rotate(225deg) brightness(99%) contrast(97%);
    }
    img{
      width: 16px;
      height: 16px;
      margin-left: 10px;
    }
  }
}

.contact-section{
  margin-top: 50px;
  @media (max-width:1100px) {
    padding-inline: 20px;
  }
  .contact-container{
    @extend %container;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width:652px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width:470px) {
      grid-template-columns: 1fr;
    }
  }
}
.contact-card{
  user-select: none;
  @extend %d-flex-center;
  flex-direction: column;
  .contact-card-img{
    width: 59px;
    height: 59px;
    background-color: $blue;
    border-radius: 50%;
    @extend %d-flex-center;
    &:hover img{
      transform: scale(1.5);
      transition: all 10ms ease-in-out;
    }
  }
  h3{
    margin-top: 15px;
    @include font('Poppins',600,18px,$black);
    line-height: 25px;
  }
  .contact-card-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    a{
      @include font('Poppins',500,14px,$darkgrey);
      line-height: 22px;
      &:hover{
        color: $blue;
      }
    }
  }
}