// header
header {
    .header-container {
        margin-top: 20px;
        @extend %container;
        @extend %d-flex;
        @media (max-width: 992px) {
        flex-wrap: inherit;
        @include d-flex-easy(flex, space-between, center);
        padding-inline: 30px;
        }
    }
}
header{
    .main-bg{
        background-image: url(../images/index-bg-banner.webp);
        background-size: cover;
        background-position: 30%;
        height: 83vh;
    }
}
.header-container {
  .navigation {
    justify-content: flex-end;
    .navbar-ul {
      max-width: 562px;
      width: 100%;
      @extend %d-flex;
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .nav-li {
        @include font("Poppins", normal, 12px, $white);
        @media (max-width: 992px) {
          margin-top: 10px;
        }
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
.header-container {
  .burger-menu {
    border-color: $white;
    &:hover {
      border-color: $blue;
    }
    .burger-icon {
      filter: brightness(0) saturate(100%) invert(98%) sepia(59%) saturate(96%)
        hue-rotate(118deg) brightness(121%) contrast(100%) !important;
      &:hover {
        filter: brightness(0) saturate(100%) invert(32%) sepia(52%)
          saturate(4048%) hue-rotate(228deg) brightness(105%) contrast(94%) !important;
      }
    }
  }
}
.header-container {
  .nav-logo {
    @include font("Poppins", 600, 14px, $white);
    &:hover {
      color: $blue;
    }
  }
}
header{
    .main-bg{
        background-image: url(../images/index-bg-banner.webp);
        background-size: cover;
        background-position: 30%;
        height: 83vh;
    }
}
// title-box for header in index.html

header{
    .main-bg{
        .main-title-box{
            height: 72vh;
            @extend %d-flex-center;
            @media (max-width:992px) {
                align-items: flex-start;
                padding-top: 20px;
            }
            .main-title-container{
                @extend %container;
                @media (max-width:1110px) {
                    padding-inline: 20px;
                }
                .main-title-body {
                    user-select: none;
                    h3 {
                      max-width: 576px;
                      width: 100%;
                      @include font("Poppins", 800, 62px, $white);
                      line-height: 72px;
                      @media (max-width: 480px) {
                        font-size: 50px;
                        line-height: 50px;
                      }
                    }
                    h4 {
                      max-width: 352px;
                      width: 100%;
                      margin-top: 20px;
                      @include font("Poppins", normal, 14px, $white);
                      line-height: 20px;
                    }
                  }
            }
        }
    }
}



// check section
.check-section{
    margin-top: -74px;
    @media (max-width:1100px) {
      padding-inline: 10px;
    }
    .check-container{
        @extend %container;
        padding:32px 100px 42px 92px;
        background-color: $white;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 10%);
        @media (max-width:520px) {
          padding-inline:10px;
        }

    }
}
.check-form{
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr)) 1fr;
    grid-gap: 21px;
    @media (max-width:1100px) {
      grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    }
    @media (max-width:480px) {
      grid-template-columns: 1fr;
    }
    .input-box{
        label{
            @include font('Poppins',500,13px,$blue);
            margin-bottom: 5px;
            user-select: none;
        }
        input{
            max-width: 260px;
            width: 100%;
            padding: 15px;
            background-color: $lightgrey;
            border: none;
            outline: none;
            @include font('Poppins',normal,13px,$darkgrey);
             &::placeholder{
                color: $grey;
             }
        }
    }
    button{
        width: 51px;
        height: 51px;
        margin-top: 18px;
        background-color: $blue;
        border: none;
        @extend %d-flex-center;
    }
}